/* -------------------------------------------
 * File: main.css
 * Develop by: @smidvarg
 * Description: css arrangement for main page.
 *
 * version 0.1
 * Last edit : 6/4/2020 [20:30]
 *
 * A project by av_software 
 * ------------------------------------------ */

 * {
    margin: 0;
    padding: 0;
 }

/* Header, que se encuentra en todos los archivos*/

 header {
     width: 100%;
     height: 10vh;
     display: flex;
     justify-content: center;
     align-content: center;
 }

 .Eq1 {
     width: 50%;
     height: 100%;
     background-image: linear-gradient(to right, rgb(26, 61, 177), rgb(77, 19, 209));
     display: flex;
     align-items: center;
 }

 .Eq2 {
     width: 50%;
     height: 100%;
     background-image: linear-gradient(to right, rgb(77, 19, 209),#d91e18);
     display: flex;
     flex-direction: row-reverse;

     align-items: center;
 }

 .Equip {
     margin-left: 10px;
     font-size: 20px;
     font-family: 'Roboto Mono', monospace;
     color: white;
 }

 .Puntos {
     margin-left: 5px;
     margin-right: 10px;
     font-size: 20px;
     font-family: 'Roboto Mono', monospace;
     color: white;
 }

 /* Cuerpo principal */

 .general {
     width: 100%;
     height: 100%;
     background-color: yellow;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }